<div *ngIf="plato" class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <picture>
        <source
          class="img-fluid"
          media="(max-width:1200px)"
          srcset="
            https://via.placeholder.com/294x294?text=plato
          "
        />
        <img
          src="{{ plato.meals[0].strMealThumb }}"
          class="img-fluid rounded-start"
          alt="{{ plato.meals[0].strMeal }}"
        />
      </picture>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ plato.meals[0].strMeal }}</h5>
        <p class="card-text">
          <ng-container *ngIf="plato.meals[0].strIngredient1">{{
            plato.meals[0].strIngredient1
          }}</ng-container>
          <ng-container *ngIf="plato.meals[0].strIngredient2"
            >, {{ plato.meals[0].strIngredient2 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient3"
            >, {{ plato.meals[0].strIngredient3 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient4"
            >, {{ plato.meals[0].strIngredient4 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient5"
            >, {{ plato.meals[0].strIngredient5 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient6"
            >, {{ plato.meals[0].strIngredient6 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient7"
            >, {{ plato.meals[0].strIngredient7 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient8"
            >, {{ plato.meals[0].strIngredient8 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient9"
            >, {{ plato.meals[0].strIngredient9 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient10"
            >, {{ plato.meals[0].strIngredient10 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient11"
            >, {{ plato.meals[0].strIngredient11 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient12"
            >, {{ plato.meals[0].strIngredient12 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient13"
            >, {{ plato.meals[0].strIngredient13 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient14"
            >, {{ plato.meals[0].strIngredient14 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient15"
            >, {{ plato.meals[0].strIngredient15 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient15"
            >, {{ plato.meals[0].strIngredient16 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient16"
            >, {{ plato.meals[0].strIngredient17 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient17"
            >, {{ plato.meals[0].strIngredient18 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient18"
            >, {{ plato.meals[0].strIngredient19 }}</ng-container
          >
          <ng-container *ngIf="plato.meals[0].strIngredient20"
            >, {{ plato.meals[0].strIngredient20 }}</ng-container
          >.
        </p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</div>
