<div class="container text-center">
  <h1>Restaurante</h1>
  <div class="container text-center texto-restaurante my-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui id
    tortor dictum vestibulum a finibus enim. Donec vitae mauris eu eros feugiat
    blandit vel fringilla metus.
  </div>

  <video poster="../../assets/media/images/logo.png" id="myvideo" controls>
    <source src="../../assets/media/video/movie_clip.mp4" type="video/mp4" />
    <source src="../../assets/media/video/movie_clip.ogg" type="video/ogg" />
    <track
      src="../../assets/media/video/movie_clip2.en.vtt"
      label="English captions"
      kind="captions"
      srclang="en"
      default
    />
    <track
      src="../../assets/media/video/movie_clip2.es.vtt"
      label="Subtitulos en Español"
      kind="captions"
      srclang="es"
      default
    />
    <p>El navegador no acepta la reproduccion del formato de video</p>
  </video>
  <div class="container text-center texto-restaurante my-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui id
    tortor dictum vestibulum a finibus enim. Donec vitae mauris eu eros feugiat
    blandit vel fringilla metus. Nam mattis nunc erat, nec tempus est sagittis
    ac. Proin eu pretium purus. Nulla sit amet ligula dapibus, molestie mi et,
    commodo ipsum. Nullam aliquam nunc id orci aliquet placerat. Morbi dignissim
    porta tempus. Morbi non nisi lectus.
  </div>
  <button class="btn btn-primary btn-lg mb-5">Reservar</button>
</div>
