<div class="container mb-3">
  <div class="row justify-content-center">
    <div class="col-6 d-none d-lg-block">
      <picture>
        <source media="(min-width:1200px)" srcset="../../../assets/media/images/La-Malquerida_grande.jpeg">
        <img
          src="../../../assets/media/images/formulario.jpg"
          height="100%"
          width="100%"
          alt="Imagen de un restaurante típico castellano"
        />
      </picture>
    </div>

    <form class="col-md-8 col-lg-6 p-4 green">
      <div class="container text-center">
        <h1>Reservar</h1>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
          placeholder="Nombre"
        />
      </div>
      <div class="mb-3">
        <label for="correo" class="form-label">Correo</label>
        <input
          type="email"
          class="form-control"
          id="correo"
          placeholder="Correo"
        />
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input
          type="tel"
          class="form-control"
          id="telefono"
          placeholder="Teléfono"
        />
      </div>
      <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="date" class="form-control" id="fecha" />
      </div>
      <div class="mb-3">
        <label for="hora" class="form-label">Fecha</label>
        <select class="form-select" id="hora">
          <option>Seleccione una hora</option>
          <option>13:00</option>
          <option>13:15</option>
          <option>13:30</option>
          <option>13:45</option>
          <option>14:00</option>
          <option>14:15</option>
          <option>14:30</option>
          <option>14:45</option>
          <option>15:00</option>
          <option>15:15</option>
          <option>15:30</option>
          <option>20:30</option>
          <option>20:45</option>
          <option>21:00</option>
          <option>21:15</option>
          <option>21:30</option>
          <option>21:45</option>
          <option>22:00</option>
          <option>22:15</option>
          <option>22:30</option>
          <option>22:45</option>
          <option>23:00</option>
        </select>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
      </div>
    </form>
  </div>
</div>
