<div class="container mb-3">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-xl-5 d-none d-lg-block">
      <picture>
        <source media="(max-width:1200px)" srcset="https://via.placeholder.com/456x493?text=Imagen+formulario">
        <img src="../../../assets/media/images/formulario.jpg" height="100%" width="100%" alt="Interior del restaurante">
      </picture>
    </div>
    <form class="col-12 col-md-8 col-lg-6 col-xl-5 py-4 green">
      <h1>Contacta con nosotros</h1>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
          placeholder="Nombre"
        />
      </div>
      <div class="mb-3">
        <label for="correo" class="form-label">Correo</label>
        <input
          type="email"
          class="form-control"
          id="correo"
          placeholder="Correo"
        />
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input
          type="tel"
          class="form-control"
          id="telefono"
          placeholder="Teléfono"
        />
      </div>
      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <input
          type="text"
          class="form-control"
          id="mensaje"
          placeholder="Mensaje"
        />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
      </div>
    </form>
  </div>
</div>
