<!-- <p>body works!</p> -->
<div class="container-fluid text-center">
  <div class="row justify-content-center">
    <app-tarjeta class="p-0 col-12 col-md-4"
      [titulo]="titulo_boda"
      [body]="body_boda"
      [imagen]="img_boda"
      [pos]="direccion[0]"
      [bg]="fondo[0]"
      [color]="texto[0]"
    ></app-tarjeta>
    <app-tarjeta class="p-0 col-12 col-md-4"
      [titulo]="titulo_restaurante"
      [body]="body_restaurante"
      [imagen]="img_restaurante"
      [pos]="direccion[1]"
      [bg]="fondo[1]"
      [color]="texto[1]"
    ></app-tarjeta>
    <app-tarjeta class="p-0 col-12 col-md-4"
      [titulo]="titulo_carta"
      [body]="body_carta"
      [imagen]="img_carta"
      [pos]="direccion[2]"
      [bg]="fondo[2]"
      [color]="texto[2]"
    ></app-tarjeta>
  </div>
</div>
