<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="container text-center">
            <h1>Acceder</h1>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Usuario o Correo</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
              placeholder="Usuario o Correo" />
          </div>
          <div class="mb-3">
            <label for="pass" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="pass" placeholder="Contraseña" />
          </div>
        </form>

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal">
          Acceder
        </button>
      </div>
    </div>
  </div>
</div>
